@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}

/* ==========小標題========= */
#about_topkey .main_top>ul li:nth-child(1)>a {
    background-color: var(--primary-color);
    font-weight: bold;
}

main .main_top {
    position: relative;
    /* background-color: #E27D60; */
    /* width: 150%; */
}

.main_top>ul:before {
    content: "";
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    height: 80px;
    bottom: -18px;
    /* left: 0; */
    /* right: 0; */
    /* transform: translateX(-19%); */
    transform: translateX(-19.2%);
    /* background-color: #E27D60; */
    background-color: #FCF8EC;
    z-index: -1;
}



/* ==========頁尾========= */
footer {
    position: static;
}






/* ==========內容========= */
.about_box {
    /* background-color: aqua; */
    box-sizing: border-box;
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
}

/* ==========開場白========= */
.about_box .slogan {
    /* background-color: crimson; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.about_box .slogan img {
    display: block;
    /* background-color: #fff; */
    width: 40%;
}

.about_box .slogan .text {
    /* background-color: burlywood; */
    box-sizing: border-box;
    width: 60%;
    flex-grow: 1;
    padding: 3% 0;
}

.slogan .text p {
    font-size: 20px;
    text-align: left;
    letter-spacing: .15em;
    line-height: 1.5;
    color: var(--black-color);
}

/* ==========介紹詞========= */

/* 色塊 */
.about_color {
    width: 86vw;
    /* height: 60vh; */
    height: 20%;
    background-color: var(--primary-color);
    border-radius: 20px 0 0 0;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -1;
}

.understand {
    margin-top: 31vh;
    /* background-color: darkcyan; */
}


/* 了解標題 */
main .understand .titlebox {
    /* background-color: blueviolet; */
    width: 190px;
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-60%);
}

main .understand .titlebox>img {
    display: block;
    margin: 0 auto;
}

main .understand .titlebox>h1 {
    padding-top: 20px;
    text-align: center;
    text-shadow: 0px 4px 1px var(--secodary-color);
    white-space: nowrap;
}

main .understand .titlebox>h1::after {
    content: "";
    display: block;
    background-color: var(--secodary-color);
    width: 42px;
    height: 6px;
    margin: 15px auto;
}



/* 了解內文 */
.understand .inner {
    /* background-color: bisque; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.understand .inner>.text {
    width: 50%;
    box-sizing: border-box;
    /* padding: 20px; */
    /* flex-basis: 500px; */
    flex-grow: 1;

}

.understand .inner p {
    /* background-color: #fff; */
    font-size: 20px;
    text-align: left;
    color: var(--black-color);
    margin-bottom: 20px;
    line-height: 1.5;
}

.understand .inner>img {
    /* background-color: aqua; */
    box-sizing: border-box;
    width: 50%;
    padding: 2%;
    /* flex-basis: 500px; */

}

/* ==========時間線========= */
.timelinebox {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* background-color: black; */
    /* height: 500px; */
    /* height: 800px; */
}

.timelinebox .titlebox2 {
    /* background-color: darkkhaki; */

}

.timelinebox .titlebox2>img {
    /* background-color: #E27D60; */
    /* display: inline-block; */
    display: block;
    margin: 0 auto;
}

.timelinebox .titlebox2>h1 {
    padding-top: 20px;
    text-align: center;
    text-shadow: 0px 4px 1px var(--primary-color);
    white-space: nowrap;
}

.timelinebox .titlebox2>h1::after {
    content: "";
    display: block;
    background-color: var(--primary-color);
    width: 42px;
    height: 6px;
    margin: 15px auto;
}



.timelinebox .time_pic {
    display: block;
    width: 100%;
    /* background-color: #FDF7EC; */
    /* border-radius: 40px; */
    object-position: center center;
    /* padding: 30px; */
    padding: 40px 0;
}

/* ==========地址電話交通資訊=========  */
.find_us {
    /* background-color: #fff; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    /* margin: 50px 0 100px; */
    padding: 50px 0 100px;
}

.find_us .text {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.find_us .text .text_a {
    /* background-color: aqua; */
}

.find_us .text .text_b {
    /* background-color: blue; */
}

.find_us .text h3 {
    text-align: left;
    margin-bottom: 10px;
    color: var(--title-color);
}

.find_us .text h6 {
    /* margin-bottom: 4px; */
    line-height: 1.5;
}



.find_us .map {
    flex-basis: 300px;
    flex-grow: 0;
}