@import url("reset.css");
@import url("all.css");

/* ==========右邊頁面========== */
main {}

/* ==========右邊頁首========= */
.navtop ul li:nth-child(2)>a {
    border-bottom: 3px dotted #E0DA70;
    background-color: #E0DA70;
    font-weight: 700;
}

/* ==========右邊內容========= */
.partycard_box {
    /* background-color: aqua; */
    box-sizing: border-box;
    /* width: 70%; */
    width: calc(var(--right-width) * .75);
    /* margin-top: 248px; */
    min-width: 600px;
    margin: 248px auto 0;
    padding: 0 67px;

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.party_card {
    box-sizing: border-box;
    width: 470px;
    height: 320px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin: 20px 0;
}

.party_card>a:active,
.party_card>a:visited {
    color: var(--black-color);

}

.party_block .pic {
    box-sizing: border-box;
    width: 420px;
    height: 140px;
    margin: 0 auto;
}

.party_block .pic img {
    display: block;
    width: 100%;
}

.party_block .date {
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 158px;
    border-radius: 20px 0 0;

}

.party_text {
    /* background-color: #E0DA70; */
    margin-top: 40px;
}

.party_text h3 {
    text-align: left;
    color: var(--secodary-color);
    line-height: 1.5em;
    margin-bottom: 5px;
}

.party_text p {
    display: block;
    width: 400px;
    text-align: left;
}

.party_block .date p {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    font-weight: 600;
    font-family: 'Noto Sans TC';
}