@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}

/* ==========小標題========= */
#activity_topkey .main_top>ul li:nth-child(2)>a {
    background-color: var(--primary-color);
    font-weight: bold;
}

/* ==========頁尾========= */

.page_box {
    /* background-color: aquamarine; */
    width: 100%;
    height: 25vh;
    margin-top: 1%;
    align-items: flex-start;
    position: relative;
}

.page_box .pagination {
    margin: 0 auto;
}

.page_box .activityfox {
    /* background-color: darkblue; */
    width: 16vw;
    position: absolute;
    left: 75%;
    bottom: 0;
}



/* ==========右邊內容========= */
.partycard_box {
    /* background-color: aqua; */
    box-sizing: border-box;
    width: var(--main-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;

}

.partycard_box .party_card {
    margin: 3% 0;
    box-sizing: border-box;
    width: 47%;
    background-color: #fff;


}

.partycard_box .party_card .party_block {
    /* background-color: aquamarine; */
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.party_card>a:active,
.party_card>a:visited {
    color: var(--black-color);

}

.party_block .pic {
    /* background-color: pink; */
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.party_block .pic img {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    z-index: 3;
}

.party_block .pic .date {
    background-color: #fff;
    box-sizing: border-box;
    padding: 1.5% 1%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 20px 0 0;
    z-index: 3;

}

.party_text {
    padding-top: 5px;
    width: 100%;
    flex-grow: 1;
    /* background-color: #E0DA70; */

}

.party_text h3 {
    display: block;
    width: 95%;
    text-align: left;
    color: var(--secodary-color);
    line-height: 1.5em;
    margin-bottom: 5px;
}

.party_text p {
    display: block;
    /* width: 400px; */
    width: 95%;
    text-align: left;
    line-height: 1.3;
    color: var(--black-color);
}

.party_block .date p {
    font-size: 16px;
    line-height: 10%;
    padding: 10px;
    font-weight: 600;
    font-family: 'Noto Sans TC';
    color: var(--black-color);
}

/* ===============RWD======================= */
@media screen and (max-width: 1200px) {
    .partycard_box {
        width: 100%;
    }

}

@media screen and (max-width: 900px) {
    .party_block .date p {
        font-size: 12px;
    }

}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 750px) {
    .party_block .pic .date {
        height: 20px;
    }

    .page_box {
        height: 20vh;
    }

    .page_box .activityfox {
        width: 80px;
    }
}


@media screen and (max-width: 600px) {
    .main_top .partycard_box{
        justify-content: center;
    }
    .main_top .partycard_box .party_card {
        width: 80%;

    }
    .party_block .pic .date{
        height: 25px;
    }

    .page_box {
        height: 18vh;
    }

    .party_text h3 {
        font-size: 16px;
    }

    .party_text p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}


@media screen and (max-width: 428px){

}