@import url("reset.css");
@import url("all.css");

/* ==========右邊頁面========== */
main {}

.wrapper {}

/* ==========右邊頁首========= */
.nav>a:nth-child(3) {
    border: 3px solid #E0DA70;
    background-color: #E0DA70;
    font-weight: 700;
}
/* ==========右邊內容========= */
.party_card{
    box-sizing: border-box;
    margin-top: 248px;
    width: 500px;
    height: 336px;
    background-color: #fff;
    padding: 24px;
    position: relative;

}
.party_block img{
    display: block;
    width: 450px;
    height: 162px;
    margin: 0 auto;
}
.party_block .date{
    background-color: #fff;
    position: absolute;
    right: 24px;
    top: 160px;
    border-radius: 20px 0 0;

}
.party_text{
    margin-left: 5px;
}
.party_text h3{
    text-align: left;
    color: var(--secodary-color);
    line-height: 1.5em;
    margin: 10px 0;
}
.party_text p{
    display: block;
    width: 414px;
    text-align: left;
    /* margin-left: 5px; */
}
.party_block .date p{
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    font-weight: 600;
    font-family: 'Noto Sans TC';
    /* text-align: left; */
}



/* ==========右邊頁碼========= */

.page_block {
    /* background-color: #fff; */
    margin: 20px auto;
    width: 300px;
}

.page_block .page {
    /* background-color: #27887C; */
    padding: 0;
    font-size: 0;
}

.page_block .page>li {
    /* background-color: #E0DA70; */
    display: inline-block;
    position: relative;
    /* width: 30px; */
}

.page>li:after {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: var(--black-color);
    position: absolute;
    top: 13px;
    right: 0;
    bottom: 0;
}
.page>li:nth-child(1)::after{
    right: auto;
    left: 0;
}
.page>li:nth-child(6)::after{
display: none;
}

.page_block .page>li>a {
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: var(--black-color);
    width: 20px;
}
.page_block .page>li>a:hover,
.page_block .page>li>a.-on {
    /* background-color: #e9ecef; */
    color: var(--secodary-color);
    font-weight: 900;
    /* border-bottom: 3px dotted var(--primary-color); */
}