@import url("reset.css");

html {
    --page-width: 1275px;
    --primary-color: #E0DA70;
    --secodary-color: #65BBB1;
    --black-color: #2B1A1A;
    --left-width: 14vw;
    --right-width: 85vw;
    --title-color: #304D62;
}

body {
    background-image: url('../imges/bg_all.png');
    font-family: Arial, 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #2B1A1A;
    line-height: 1.6;

}

a {
    text-decoration: none;
    text-align: center;
    letter-spacing: .2em;
}

/* ----------模組---------- */
.t24 {
    font-size: 24px;
}

.t40 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: .1em;
    font-weight: 700;
}


h1 {
    /* 分頁大標 */
    font-size: 40px;
    line-height: 150%;
    letter-spacing: .1em;
    color: #994E55;
    font-weight: 700;
}

h2 {
    /* 分頁小標 */
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .2em;
    color: #304D62;
}

h3 {
    /* 首頁贊助大字 */
    /* 成功案例文標 */
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: center;

}

h4 {
    /* 首頁SOP大字 */
    text-align: center;
    font-size: 24px;
    letter-spacing: .4em;
    line-height: 32px;
}

h5 {
    /* 頁尾地址電話 */
    text-align: start;
    font-size: 16px;
    letter-spacing: .2em;
    line-height: 32px;

    font-weight: 600;
}

h6 {
    /* 首頁story小字 */
    font-size: 20px;
    color: var(--title-color);
    letter-spacing: .1em;
}

p {
    /* 首頁SOP小字 */
    /* 首頁贊助小字 */
    /* 成功案例小字 */
    letter-spacing: .1em;
    font-size: 16px;
    text-align: center;

}

a:hover {
    cursor: grab;

}

a:active {
    cursor: grabbing;
}

/* ==========側邊欄選單========== */
aside {
    /* background-color: #fff; */
    background-image: url("../imges/bg_all.png");
    width: var(--left-width);
    min-width: 180px;
    height: 100vh;
    position: fixed;
    float: left;
    z-index: 99;
}

.logo img {
    display: block;
    width: 175px;
    margin: 0 auto;
    margin-top: 43px;
}

/* --選單文字部分-- */
.nav {
    /* outline: 1px solid; */
    margin-top: 100px;
    position: relative;
}

.nav li {
    height: 41px;
}

.nav a {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.box {
    /* outline: 1px solid red; */
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.box .box-item {
    /* display: block; */
    /* color: brown; */
    /* letter-spacing: 0.2em; */
}

.box-item>a {
    display: block;
    margin: 0;
    padding: 10px 10px;
    color: var(--black-color);
}

.box-item-content {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 20px;
    transition: 0.5s;
}

.box-item-content li {
    height: 35px;
}

.box-item-content a {
    font-size: 20px;
    line-height: 35px;
    /* color: #123C69; */
    color: var(--title-color);
}

.box:hover .box-item:hover .box-item-content {
    height: 100px;
}

.box-item a:hover,
.box-item-content a:hover {
    color: var(--secodary-color);
}

/* --選單文字結束-- */

.icon {
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.icon ul {
    /* background-color:#994E55; */
    display: flex;
}

.icon li {
    /* background-color: burlywood; */
    margin: 0 auto;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.icon a {
    /* outline: 1px solid red; */
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    position: relative;
}

.icon img {
    position: absolute;
    top: -7px;
}

.icon .map {
    right: -69px;
}

.icon .phone {
    right: -123px;
}

.icon .heart {
    right: -11px;
}

.push_top {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

/* ==========主區塊規格========== */
main {
    float: right;
    /* background-color: #584040; */
    width: var(--right-width);
    min-width: 500px;
    z-index: 0;

}

/* ==========右邊頁首========= */
.navtop {
    /* background-color: chartreuse; */
    width: var(--right-width);
    height: 248px;
    position: fixed;
    box-sizing: border-box;
    padding: 65px 100px;
    background-image: url('../imges/bg_all.png');
    min-width: 600px;
    z-index: 80;
}

.navtop h1 {
    margin-bottom: 40px;
}

.navtop ul {
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.navtop li {
    /* background-color: #584040; */
}

.navtop a {
    /* background-color: #E0DA70; */
    display: block;
    padding: 7px;
    border: 3px solid transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .2em;
}


.navtop li a:hover {
    /* background-color: #E0DA70; */
    border-bottom: 3px dotted var(--primary-color);
    transition: .2s;
}

.rightline {
    margin-top: 20px;
    width: 85%;
    min-width: 600px;
    background-color: #ccc;
    height: 1px;
}




/* ==========右邊頁碼========= */

.page_block {
    /* background-color: #fff; */
    margin: 20px auto;
    width: 300px;
    /* position: absolute; */
    /* bottom: -15%; */
}

.page_block .page {
    /* background-color: #27887C; */
    padding: 0;
    font-size: 0;
}

.page_block .page>li {
    /* background-color: #E0DA70; */
    display: inline-block;
    position: relative;
    /* width: 30px; */
}

.page>li:after {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: var(--black-color);
    position: absolute;
    top: 13px;
    right: 0;
    bottom: 0;
}

.page>li:nth-child(1)::after {
    right: auto;
    left: 0;
}

.page>li:nth-child(6)::after {
    display: none;
}

.page_block .page>li>a {
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: var(--black-color);
    width: 20px;
}

.page_block .page>li>a:hover,
.page_block .page>li>a.-on {
    /* background-color: #e9ecef; */
    color: var(--secodary-color);
    font-weight: 900;
    /* border-bottom: 3px dotted var(--primary-color); */
}



/* ==========右邊頁尾========== */
footer {
    width: var(--right-width);
    height: 250px;
    background-color: rgba(101, 187, 177, 0.65);
    border-radius: 80px 80px 0 0;
    /* text-align: match-parent; */
    display: flex;
    min-width: 933px;
    /* flex-direction: column; */
}

.text_a {
    /* background-color: #fff; */
    flex-grow: 1.5;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 50px);
    margin-left: 8vw;
    margin-top: 100px;
}


footer .text_a li {
    box-sizing: border-box;
    margin: 0 auto;
}

footer a {
    display: block;
    width: 80px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 5px solid transparent;
    font-weight: 500;
    color: var(--title-color);
}

footer a:hover {
    border-bottom: 5px dotted var(--primary-color);
    transition: .2s;
}

footer .text_b {
    flex-grow: 0;
    margin-top: 80px;
}

.text_b div {
    width: 40px;
    overflow: hidden;
}

.text_b img {
    display: block;
}

.phone img {
    transform: translateX(-60%);
}

.add img {
    transform: translateX(-10%);
}

.text_c {
    padding: 80px 0;
    flex-grow: 1;
    margin-left: 10px;
}

.text_c h5 {
    padding: 15px 0;
    color: var(--title-color);
}


/* ==========右下動物臉TOP========== */
.top_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 20%;
    opacity: .5;
}

.top_button img {
    display: block;
    margin: 0 auto;
    width: 65%;
    transform: translateY(20%);
}
.top_button:hover{
    opacity: 1;
}