@import url("reset.css");

html {
    /* --page-width: 1275px; */
    --primary-color: #E0DA70;
    --secodary-color: #65BBB1;
    --black-color: #2B1A1A;
    /* --left-width: 12vw; */
    /* --right-width: 88vw; */
    --title-color: #304D62;
    --main-width: 62.5vw;
    --mini-width: 350px;
    --bg-color: #FCF8EC;
}

body {

    background-color: #FCF8EC;
    /* min-width: 350px; */
    min-width: var(--mini-width);

    font-family: Arial, 'Noto Sans TC', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    text-align: center;
    letter-spacing: .2em;
    box-sizing: border-box;
}

/* ----------模組---------- */
.t16 {
    font-size: 16px;
    letter-spacing: .2em;
    /* color: #994E55; */
    /* font-weight: 500; */
}

.t20 {
    /* 贊助公司按鈕 */
    /* 個人贊助按鈕 */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .2em;
}

.t24 {
    font-size: 24px;
}

.t32 {
    /* 贊助公司中字 */
    /* 毛怪列表卡片名 */
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.t36 {
    font-size: 36px;
}

.t40 {
    /* 首圖輪播標題 */
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: .1em;
    font-weight: 700;
}


h1 {
    /* 分頁大標 */

    /* 首頁右側大標 */
    font-size: 40px;
    line-height: 32px;
    letter-spacing: .2em;
    color: var(--black-color);
    font-weight: 600;
    /* line-height: 150%; */
    /* letter-spacing: .1em; */
    /* color: #994E55; */
    /* font-weight: 700; */
}

h2 {
    /* 分頁小標 */
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .2em;
    color: #304D62;
}

h3 {
    /* 首頁贊助大字 */
    /* 成功案例文標 */
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: center;

}

h4 {
    /* 首頁SOP大字 */
    text-align: center;
    font-size: 24px;
    letter-spacing: .4em;
    line-height: 32px;
}

h5 {
    /* 頁尾地址電話 */
    text-align: start;
    font-size: 16px;
    letter-spacing: .2em;
    line-height: 32px;

    font-weight: 600;
}

h6 {
    /* 首頁story小字 */
    font-size: 20px;
    color: var(--title-color);
    letter-spacing: .1em;
}

p {
    /* 首頁SOP小字 */
    /* 首頁贊助小字 */
    /* 成功案例小字 */
    letter-spacing: .1em;
    font-size: 16px;
    text-align: center;

}

a:hover {
    /* cursor: grab; */
    cursor: url("../imges/point.png") 10 5, move;

}

a:active {
    /* cursor: grabbing; */
}

/* =========上方選單========== */
nav {
    /* background-color: #FCF8EC; */
    background-image: linear-gradient(#FCF8EC, transparent);
    /* background-image: linear-gradient(#FFF, transparent); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 90;
    height: 80px;
    box-sizing: border-box;
}

.nav_logo {
    box-sizing: border-box;
    /* background-color: #65BBB1; */
    height: 70px;
    margin: 5px 30px;
    flex-grow: 0;
}

.nav_logo img {
    display: block;
    height: 100%;
    margin: 0 auto;
    /* margin-top: 10%; */
}

/* --選單文字部分-- */
nav .fa-bars {
    display: none;
}

nav .nav_text {
    flex-grow: 1;
}

nav .nav_text .box {
    margin-right: 30px;
    /* background-color: #304D62; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_text .box .box-item>a {
    /* background-color: #E0DA70; */
    display: block;
    padding: 0px 10px;
    color: var(--black-color);
    line-height: 50px;
    border: 2px solid transparent;
    box-sizing: border-box;

}


.box-item-content {
    /* background-color: #304D62; */
    position: absolute;
    width: 120px;
    display: none;
}

.box-item-content li {
    margin: 0 auto;
}

.box-item-content li a {
    box-sizing: border-box;
    /* background-color: crimson; */
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color: var(--title-color);
    display: block;

}

.box-item:hover .box-item-content {
    display: block;
}

.box .box-item>a:hover {
    border-bottom: 2px dotted var(--secodary-color);
    /* background-color: #FFF; */
}

.box-item-content a:hover {
    background-color: var(--primary-color);
}

/* --選單文字結束-- */

/* ==========主區塊規格========== */
main {
    width: var(--main-width);
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 400px;
    /* padding-top: 80px; */
    /* height: 3000px; */
    /* background-color: chartreuse; */
    /* min-width: 850px; */
    /* min-width: var(--min-width); */
}

/* ==========內文頁首========= */
.main_top {
    /* background-color: chartreuse; */
    width: var(--main-width);
    /* height: 248px; */
    /* height: 1000px; */
    box-sizing: border-box;
    /* padding: 100px 5%; */
    /* margin: 100px 5%; */
    /* min-width: 900px; */
    min-width: var(--min-width);
    /* z-index: 80; */
    /* margin-top: 100px; */
    padding-top: 100px;
}

/* 內文頁首標題 */
.main_top>h1 {
    margin-bottom: 40px;
    /* padding: 0 6%; */
    /* background-color: #304D62; */
    /* z-index: 80; */
}

/* 內文頁首分頁選單 */
.main_top>ul {
    /* box-sizing: border-box; */
    background-color: #FCF8EC;
    /* background-color: cadetblue; */
    position: sticky;
    top: 80px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    /* padding: 0 5%; */
    z-index: 80;
}

.main_top>ul::after {
    content: "";
    display: block;
    /* width: 95%; */
    width: 100%;
    height: 18px;
    background-color: #FCF8EC;
    border-bottom: 2px solid #ccc;
    position: absolute;
    /* bottom: -24px; */
    bottom: -20px;
}


.main_top li {
    /* background-color: #584040; */
}

.main_top>ul li a {
    /* background-color: #E0DA70; */
    display: block;
    padding: 7px;
    border: 3px solid transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .2em;
    color: var(--black-color);
}


.main_top li a:hover {
    /* background-color: #E0DA70; */
    border-bottom: 3px dotted var(--primary-color);
    transition: .2s;
}



/* ==========頁碼========= */
.page_box {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f4f4; */
    /* 禁選 */
    /* user-select: none; */
}

.page_box #pagination a,
.page_box #pagination i {
    /* box-sizing: border-box; */
    display: inline-block;
    /* min-width: 32px; */
    width: 35px;
    height: 35px;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    margin: 0 3px;
}

#pagination a {
    /* border: 1px solid #333; */
    /* background-color: #333; */
    background-color: var(--black-color);
    color: #eee;
    font-size: 12px;
    /* line-height: 13; */
    /* text-align: center; */
    /* margin: 0 auto; */
}

#pagination a:hover {
    background-color: #000;
    cursor: pointer;
}


#pagination a.current {
    background-color: transparent;
    color: #333;
    font-weight: bold;
}

#pagination i {
    font-size: 20px;

}





/* ==========頁尾========== */
footer {
    width: var(--main-width);
    margin: 0 auto;
    max-height: 200px;
    background-color: var(--secodary-color);
    border-radius: 80px 80px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--min-width);
    padding: 40px 50px 10px;
    box-sizing: border-box;
}

/* 文字選單 */
footer .text_a {
    /* background-color: #fff; */
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

footer .text_a>li {
    /* background-color: pink; */
    box-sizing: border-box;
    margin: 10% auto 8%;
    display: flex;
    align-items: center;
}

footer .text_a>li a {
    display: block;
    /* width: 80px; */
    font-size: 16px;
    line-height: 1em;
    border-bottom: 5px solid transparent;
    font-weight: 500;
    color: var(--title-color);

}

footer a:hover {
    border-bottom: 5px dotted var(--primary-color);
    transition: .2s;
}

/* icon */
footer .text_b {
    /* background-color: red; */
    width: 40%;
}

footer .text_b .up,
footer .text_b .down {
    display: flex;
}

footer .text_b .icon {
    /* background-color: #E0DA70; */
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;

}

.text_b img {
    display: block;
    /* width: 90%; */
    height: 100%;
}

.text_b .up img {
    transform: translateX(-50%);
}

/* 地址電話 */
.text_b h5 {
    font-size: 14px;
    text-align: start;
    margin-bottom: 4%;
    color: var(--title-color);
}



/* ==========右下動物臉TOP========== */
.top_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #fff;
    /* width: 90px; */
    width: 5vw;
    height: 5vw;
    /* height: 90px; */
    border-radius: 20%;
    opacity: .5;
    box-shadow: 0px 0px 10px gray;
}

.top_button img {
    display: block;
    margin: 0 auto;
    width: 65%;
    transform: translateY(20%);
}

.top_button:hover {
    opacity: 1;
}