@import url("reset.css");


body,
html {
    scroll-behavior: smooth;

}

html {
    /* --page-width: 1275px; */
    --primary-color: #E0DA70;
    --secodary-color: #65BBB1;
    --black-color: #2B1A1A;
    /* --left-width: 12vw; */
    /* --right-width: 88vw; */
    --title-color: #304D62;
    --main-width: 62.5vw;
    --mini-width: 350px;
    --bg-color: #FCF8EC;
}

body {

    background-color: #FCF8EC;
    /* min-width: 350px; */
    /* min-width: var(--mini-width); */

    font-family: Arial, 'Noto Sans TC', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: .2em;
    box-sizing: border-box;
}

/* ----------模組---------- */
.t16 {
    font-size: 16px;
    letter-spacing: .2em;
    /* color: #994E55; */
    /* font-weight: 500; */
}

.t20 {
    /* 贊助公司按鈕 */
    /* 個人贊助按鈕 */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .2em;
}

.t24 {
    font-size: 24px;
}

.t32 {
    /* 贊助公司中字 */
    /* 毛怪列表卡片名 */
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.t36 {
    font-size: 36px;
}

.t40 {
    /* 首圖輪播標題 */
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: .1em;
    font-weight: 700;
}


h1 {
    /* 分頁大標 */

    /* 首頁右側大標 */
    font-size: 40px;
    line-height: 32px;
    letter-spacing: .2em;
    color: var(--black-color);
    font-weight: 600;
}

h2 {
    /* 分頁小標 */
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .2em;
    color: #304D62;
}

h3 {
    /* 首頁贊助大字 */
    /* 成功案例文標 */
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: center;

}

h4 {
    /* 首頁SOP大字 */
    text-align: center;
    font-size: 24px;
    letter-spacing: .4em;
    line-height: 32px;
}

h5 {
    /* 頁尾地址電話 */
    text-align: start;
    font-size: 16px;
    letter-spacing: .2em;
    line-height: 16px;

    /* font-weight: 600; */
}

h6 {
    /* 首頁story小字 */
    font-size: 20px;
    color: var(--title-color);
    letter-spacing: .1em;
}

p {
    /* 首頁SOP小字 */
    /* 首頁贊助小字 */
    /* 成功案例小字 */
    letter-spacing: .1em;
    font-size: 16px;
    text-align: center;

}

a:hover {
    /* cursor: grab; */
    cursor: url("../imges/point.png") 10 5, move;

}

a:active {
    /* cursor: grabbing; */
}

/* ====================================================================================================== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo h2 {
    color: #ffffff;
}

header {
    background-color: #ce302c;
    display: grid;
    padding: 0px 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

header .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
}

header .nav li a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 22px;
}

header .nav li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #eadcdc;
    transition: all 0.3s ease-in-out;
}

header .nav li:hover::after {
    width: 100%;
}

header .nav .nav-item:nth-last-child(2) a img {
    width: 30px;
}

header .nav .nav-item:nth-last-child(2) a {
    padding-bottom: 0;
}

header .nav .nav-item:last-child a i {
    font-size: 25px;
}

.menu-toggle {
    display: none;
    padding: 1em;
    position: absolute;
    top: 1rem;
    right: 0.5em;
    cursor: pointer;
    grid-area: menu;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}


header .nav li {
    position: relative;
    width: 160px;
}

/* ------------- 子選單 ------------- */
header .nav ol {
    position: absolute;
    background-color: #fff;
    width: 160px;
    display: none;
}


ul>li>ol>li>a {
    line-height: 40px;
}

/* ------------- hover & show ------------- */
ul>li>a:hover {
    background-color: #333;
    color: #fff;
}

ul li:hover ol {
    display: block;
}

ul>li>ol>li>a:hover {
    background-color: #999;
}


/* =================RWD================================ */
@media all and (max-width: 600px) {
    header {
        justify-items: center;
    }

    .nav {
        padding: 0;
        margin: 0;
        background-color: #3da780;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65px;
        width: 100%;
        height: 100vh;
        transition: all 500ms ease-in-out;
        clip-path: circle(0px at top right);
        justify-content: center !important;
    }

    .nav li {
        padding: 20px 0px;
    }

    .nav li a {
        font-size: 22px;
        color: #ffffff;
    }

    .nav li::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #eadcdc;
        transition: all 0.3s ease-in-out;
    }

    .nav li:hover::after {
        width: 100%;
    }

    .mobile-nav {
        clip-path: circle(250% at top right);
    }

    .menu-toggle {
        display: block;
    }

}







/* ====================================================================================================== */
/* =========上方選單========== */
/* nav {
    background-color: #FCF8EC;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 90;
    height: 80px;
    box-sizing: border-box;
}

.nav_logo {
    box-sizing: border-box;
    height: 70px;
    margin: 5px 30px;
    flex-grow: 0;
}

.nav_logo img {
    display: block;
    height: 100%;
    margin: 0 auto;
} */

/* --選單文字部分-- */
/* nav .fa-bars {
    display: none;
}

nav .nav_text {
    flex-grow: 1;
}

nav .nav_text .box {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_text .box .box-item>a {
    display: block;
    padding: 0px 10px;
    color: var(--black-color);
    line-height: 50px;
    border: 2px solid transparent;
    box-sizing: border-box;

}

.nav_text .box .box-item>a>img {
    display: block;
    width: 25px;
    padding: 12px 0;
}


.box-item-content {
    position: absolute;
    width: 120px;
    display: none;
}

.box-item-content li {
    margin: 0 auto;
}

.box-item-content li a {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color: var(--title-color);
    display: block;

}

.box-item:hover .box-item-content {
    display: block;
}

.box .box-item>a:hover {
    border-bottom: 2px dotted var(--secodary-color);
}

.box-item-content a:hover {
    background-color: var(--primary-color);
}
 */

/* ==========主區塊規格========== */
main {
    /* background-color: chartreuse; */
    /* width: var(--main-width); */
    max-width: 1200px;
    min-width: var(--mini-width);
    /* max-width: 1200px; */
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ==========內文頁首========= */
.main_top {
    /* background-color: chartreuse; */
    box-sizing: border-box;
    padding-top: 100px;
}

/* 內文頁首標題 */
.main_top>h1 {
    margin-bottom: 40px;
    /* background-color: #304D62; */
}

/* 內文頁首分頁選單 */
.main_top>ul {
    /* box-sizing: border-box; */
    background-color: #FCF8EC;
    /* background-color: cadetblue; */
    position: sticky;
    top: 80px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    z-index: 80;
}

.main_top>ul::after {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    background-color: #FCF8EC;
    border-bottom: 2px solid #ccc;
    position: absolute;
    bottom: -20px;
}


.main_top li {
    /* background-color: #584040; */
}

.main_top>ul li a {
    /* background-color: #E0DA70; */
    display: block;
    padding: 7px;
    border: 3px solid transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .2em;
    color: var(--black-color);
}


.main_top li a:hover {
    /* background-color: #E0DA70; */
    border-bottom: 3px dotted var(--primary-color);
    transition: .2s;
}



/* =========================首頁共用 ========================*/
.titlebox {
    box-sizing: border-box;
    /* background-color: darkcyan; */
    margin: 0 auto;
    padding: 25px;

}

.title_colorpic {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.titlebox>h1 {
    font-weight: bold;
    text-shadow: 0px 4px 1px var(--primary-color);
    white-space: nowrap;

}

.titlebox>h1::after {
    content: "";
    display: block;
    background-color: var(--primary-color);
    width: 42px;
    height: 4px;
    margin: 20px auto 0;
}




/* ==========頁碼========= */
.page_box {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f4f4; */
    /* 禁選 */
    /* user-select: none; */
}

.page_box #pagination a,
.page_box #pagination i {
    /* box-sizing: border-box; */
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    margin: 0 3px;
}

#pagination a {
    /* background-color: #333; */
    background-color: var(--black-color);
    color: #eee;
    font-size: 12px;
    /* text-align: center; */
}

#pagination a:hover {
    background-color: #000;
    cursor: pointer;
}


#pagination a.current {
    background-color: transparent;
    color: #333;
    font-weight: bold;
}

#pagination i {
    font-size: 20px;

}





/* ==========頁尾========== */
footer {
    width: var(--main-width);
    background-color: var(--secodary-color);
    border-radius: 80px 80px 0 0;
    min-width: var(--mini-width);
    padding: 50px 0 20px;
    margin: 0 auto;
    /* position: absolute; */
    /* bottom: 0; */
}

/* 選單 */
footer .footerbox {
    /* background-color: #fff; */
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 14%) 40%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 0 10px;
    margin-bottom: 20px;
}

footer .footerbox>li {
    /* background-color: pink; */
    display: block;
    margin: 0 auto;
    width: 100%;
}

footer .footerbox>li a {
    display: block;
    font-size: 16px;
    line-height: 17px;
    border-bottom: 5px solid transparent;
    color: var(--title-color);
    letter-spacing: .1em;
    white-space: nowrap;

}

footer a:hover {
    border-bottom: 5px dotted var(--primary-color);
    transition: .2s;
}

footer .footerbox .text_b {
    /* background-color: #E0DA70; */
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

footer .footerbox .text_b h5 {
    /* background-color: aqua; */
    letter-spacing: 0em;
    padding-left: 5px;
}

footer .footerbox .icon {
    width: 35px;
    height: 35px;
    overflow: hidden;
    /* background-color: #304D62; */
}

footer .footerbox .icon>img {
    display: block;
    height: 100%;
}

footer .footerbox .phone h5 {
    /* background-color: cadetblue; */
    letter-spacing: .3em;
}

footer .footerbox .phone .icon>img {
    transform: translateX(-50%);
}

footer>p {
    color: var(--black-color);
    padding: 0 5%;
    font-size: 14px;
}





/* ==========右下大白熊狗TOP========== */
.top_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #fff;
    width: 5vw;
    height: 5vw;
    border-radius: 20%;
    opacity: .5;
    box-shadow: 0px 0px 10px gray;
    z-index: 99;
}

.top_button img {
    display: block;
    margin: 0 auto;
    width: 65%;
    transform: translateY(20%);
}

.top_button:hover {
    opacity: 1;
}

/* ===============RWD======================= */
@media screen and (max-width: 1200px) {

    /* 內文頁首 */
    main {
        width: 100%;
        overflow: hidden;
    }

    .main_top {
        width: 80%;
        margin: 0 auto;
    }

    /* 頁尾 */
    footer {
        margin: 0 auto;
        width: 100%;
    }

    footer .footerbox {
        width: 80%;
        gap: 0px 5px;
    }

    footer .text_a>li a {
        letter-spacing: 0;
    }

}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .t20 {
        font-size: 16px;
    }

    /* 選單 */
    .nav_text .box .box-item>a {
        /* color: cadetblue; */
        font-size: 16px;
        letter-spacing: .2;
        line-height: 1;
    }

    /* 內文頁首 */
    .main_top>h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .main_top>ul::after {
        height: 7px;
        bottom: -9px;
    }

    .main_top>ul li a {
        font-size: 20px;
    }

    /* 頁尾 */
    footer .footerbox {
        width: 90%;
    }


    .top_button {
        width: 50px;
        height: 50px;
    }

}


1200px 767px @media screen and (max-width: 800px) {

    /* 選單 */
    .nav_text .box .box-item>a {
        font-size: 14px;
    }

    /* 頁尾 */
    footer .footerbox {
        grid-template-columns: repeat(4, 19%) 12%;
        gap: 10px 5px;
    }

    footer .footerbox .text_b h5 {
        display: none;
    }

    footer .footerbox .icon {
        margin-left: auto;
    }
}

@media screen and (max-width: 750px) {
    nav {
        display: block;
        background-color: var(--bg-color);

    }

    nav .nav_logo {
        float: left;
    }

    nav .fa-bars {
        display: block;
        float: right;
        margin-top: 30px;
        margin-right: 10%;
        color: var(--black-color);
        font-size: 30px;
    }

    nav .nav_text .box {
        display: none;
    }

    nav .fa-bars:hover~.nav_text>.box {
        display: block;
    }

    nav .nav_text .box {
        /* display: block; */
        margin: 0 auto;
    }

    nav .nav_text .box li {
        background-color: var(--primary-color);
        display: block;
        clear: both;
        border-bottom: 1px solid #a6937c;
    }

    nav .nav_text .box li:nth-last-child(-n + 2) {
        /* background-color: red; */
        display: none;
    }

    nav .nav_text .box .t20 a {
        height: 45px;
        line-height: 45px;
        letter-spacing: 1.1em;
        color: var(--title-color);
        font-size: 20px;
    }

    /* 頁尾 */
    footer .footerbox {
        display: none;
    }
}


@media screen and (max-width: 600px) {

    /* 選單 */
    .nav_text .box .box-item>a {
        font-size: 12px;
        line-height: 1;
        letter-spacing: .2;
    }

    /* 內文頁首分頁選單 */
    .main_top>ul {
        gap: 5px;
    }

    .main_top>ul li a {
        white-space: nowrap;
    }

    /* 頁碼 */
    .page_box #pagination a,
    .page_box #pagination i {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    #pagination a {
        font-size: 10px;
    }
}

@media screen and (max-width: 429px) {}