@import url("reset.css");
@import url("all.css");

/* =====主頁面===== */
/* 第一段大圖 */
.swipe {
    /* background-color: green; */
    position: relative;
    width: var(--right-width);
    height: 909px;
    min-width: 500px;
    text-align: center;
    color: white;
    overflow: hidden;
    top: 0;
}

.swipe input {
    display: none;
}

.swipe ul {
    /* background-color: green; */
    display: block;
    position: absolute;
    top: 0;
    width: calc(var(--right-width) * 4);
    transition: .5s;
    height: 100%;
}

.swipe li {
    /* background-color: blue; */
    float: left;
    width: var(--right-width);
    min-width: 500px;
    height: 100%;
    min-height: 690px;
    line-height: 909px;
    font-size: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.swipe li:nth-child(1) {
    background-image: url('../imges/index/swipe01.jpg');
}

.swipe li:nth-child(2) {
    background-image: url('../imges/index/swipe02.jpg');
}

.swipe li:nth-child(3) {
    background-image: url('../imges/index/swipe03.jpg');
}

.swipe li:nth-child(4) {
    background-image: url('../imges/index/swipe04.jpg');
}

/* for屬性以coose開頭的label*/
.swipe label[for^="choose"] {
    z-index: 2;
    position: absolute;
    top: 750px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.351);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

/* for屬性是choose1~4的label*/
.swipe label[for="choose1"] {
    left: 45%;
}

.swipe label[for="choose2"] {
    left: 47.3%;
}

.swipe label[for="choose3"] {
    left: 49.6%;
}

.swipe label[for="choose4"] {
    left: 51.9%;
}

/* 點到綁定的label位移圖片 */
#choose1:checked~ul {
    margin-left: 0;
}

#choose2:checked~ul {
    margin-left: -100%;
}

#choose3:checked~ul {
    margin-left: -200%;
}

#choose4:checked~ul {
    margin-left: -300%;
}

/* 點到id是choose1~4且for屬性是coose1~4的label 改色*/
#choose1:checked~label[for="choose1"] {
    background-color: #fff;
}

#choose2:checked~label[for="choose2"] {
    background-color: #fff;
}

#choose3:checked~label[for="choose3"] {
    background-color: #fff;
}

#choose4:checked~label[for="choose4"] {
    background-color: #fff;
}

/* 第二段News */
.news {
    /* background-color: lightblue; */
    height: 750px;
}

.news>img {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 10px;
}

.news_box {
    /* background-color: darkorange; */
    margin: 0 auto;
    width: 1275px;
    height: 505px;
    display: grid;
    grid-template-rows: repeat(4, 118px);
    grid-template-columns: 410px 855px;
    gap: 10px;
    overflow: hidden;
}

.news_box>input {
    display: none;
}

.news_box .tab {
    /* background-color: #fff; */
    grid-row: 1 / 5;
    grid-column: 2 / 3;
}

.tab_s {
    width: 855px;
    height: 505px;
}
#news1 {
    /* background-color: red; */
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p1.jpg");
    background-position: center center;
    background-size: cover;
}

.sp {
    opacity: .6;
}

.sp:hover,
.news_box>input:checked+.sp {
    opacity: 1;
    transform: scale(1.05);
}

#news2 {
    /* background-color: blue; */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p2.jpg");
    background-position: center center;
    background-size: cover;
}

#news3 {
    /* background-color: yellow; */
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p3.jpg");
    background-position: center center;
    background-size: cover;
}

#news4 {
    /* background-color: black; */
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p4.jpg");
    background-position: center center;
    background-size: cover;
}

/* 選中指定位移大圖 */
#p1:checked~.tab {
    transform: translateY(0px);
}

#p2:checked~.tab {
    transform: translateY(-505px);
}

#p3:checked~.tab {
    transform: translateY(-1010px);
}

#p4:checked~.tab {
    transform: translateY(-1515px);
}

/* 第三段SOP */
.sop {
    /* background-color: lightgreen; */
    height: 750px;
    position: relative;
}

.sop_color {
    background-color: var(--primary-color);
    width: 95%;
    height: 750px;
    border-radius: 20px 0 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sop >img {
    display: block;
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
}

.sop_box {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-rows: repeat(2, 230px);
    grid-template-columns: repeat(3, 337px);
    gap: 50px 21px;
}

.sop_box .step {
    width: 337px;
    height: 230px;
    background-image: url("../imges/index/step.png");
    background-size: 337px 305px;
    background-position: center center;
    z-index: 1;
    text-align: center;

}

.sop_box>img {
    position: absolute;
    left: 25%;
    top: 10%;
    z-index: 0;
}

.sop_box .step h4 {
    text-align: center;
    font-size: 24px;
    letter-spacing: .4em;
    line-height: 32px;
    padding-top: 75px;
}

.sop_box .tops p {
    padding-top: 60px;
}

.sop_box .sop1 h4 {
    margin: 20px 0 12px;
}

.sop_box .downs p {
    padding-top: 40px;

}

.sop_box .sop5 h4,
.sop_box .sop6 h4 {
    padding-top: 65px;
}

.sop .cat01 {
    position: absolute;
    top: 600px;
    transform: translateX(180%);
}

/* 第四段Story */
.story {
    width: var(--right-width);
    height: 750px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 933px;
    /* margin: 0 auto; */

}

.story_box {
    /* background-color: #65BBB1; */
    display: grid;
    grid-template-rows: repeat(3, 185px);
    grid-template-columns: repeat(4, 215px);
}

.story_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.story_box img:hover {
    opacity: 1;
    transform: scale(.9);
    z-index: 3;
}

.story_text {
    /* background-color: yellow; */
    /* width: 30%; */
    height: 555px;
    padding-left: 40px;

}

.story_text>img {
    display: block;
    margin-top: 82px;
    margin-bottom: 55px;
}

.story_text h6 {
    margin-bottom: 30px;
}

/* 第五段Sponsor */
.sponsor {
    width: var(--right-width);
    height: 750px;
    position: relative;
    /* background-color: #fff; */
    min-width: 600px;
}

.sponsor .cat02 {
    position: absolute;
    top: -60px;
    left: 30px;
}

.sponsor .title {
    display: block;
    margin: 0 auto;
    padding-top: 35px;
}

.sponsor .sponsor_color {
    background-color: var(--primary-color);
    height: 540px;
    width: 95%;
    border-radius: 0 0 0 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.sponsor_box {
    /* background-color: #40688E; */
    width: 1275px;
    height: 447px;
    margin: 85px auto;
    display: flex;
}

.sponsor .sponsors {
    background-color: #fff;
    width: 411px;
    height: 356px;
    top: 20%;
    border-radius: 70px;
    margin: 0 auto;

}

.sponsor .sponsors img {
    display: block;
    margin: 0 auto;
    line-height: 447px;
    padding: 40px 0 90px;
}

.sponsors>a h3 {
    color: #123C69;
}

.sponsors>a p {
    color: #123C69;
}
