@import url("reset.css");
@import url("all.css");



/* ==========總表頭========== */

.main_top>h1 {
    position: relative;
    display: block;
    margin-bottom: 10px;
    align-self: flex-start;
    color: var(--black-color);
    z-index: 31;
}

.main_top .petbox::before {
    content: "";
    display: block;
    width: 98vw;
    background-color: #FCF8EC;
    height: calc(100% + 44px);
    /* background-color: red; */
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.main_top .petbox::after {
    /* content: "";
    display: block;
    width: 100%;
    height: 12px;
    background-color: #FCF8EC;
    border-bottom: 2px solid #ccc;
    position: absolute;
    bottom: -14px;
    z-index: -1; */
}

.page_box {
    margin-top: 1%;
    align-items: flex-start;
}



/* ==========動物選單========= */
.petbox {
    width: 100%;
    background-color: #FCF8EC;
    min-width: var(--mini-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 35px;
    z-index: 30;
}


.choosebox_bg {
    width: 100%;
    background: var(--secodary-color);
    /* background-color: #fff; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47px 47px 0 0;
}

.choosebox_bg ul {
    /* background-color: purple; */
    display: flex;
    width: 80%;
    justify-content: space-around;

}

.choosebox_bg .class-item {
    /* background-color: cyan; */
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 2;
}

.choosebox_bg .class-item a {
    /* background-color: chocolate; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    border: none;
}

.choosebox_bg .class-item:hover a {
    border: none;
}

.choosebox_bg .class-item .peticon {
    /* background-color: blue; */
    position: relative;
    display: block;
    height: 40 px;
    transition: .5s;

}

.choosebox_bg .class-item:hover a .peticon,
.choosebox_bg .class-item.-on a .peticon {
    transform: translateY(-38px);
    border: none;
}

.choosebox_bg .class-item .peticon>img {
    display: block;
    width: 40px;
    height: 40px;
}

/* .choosebox_bg .class-item:nth-child(1):hover~.indicator,
.choosebox_bg .class-item:nth-child(1).-on~.indicator {
    display: block;
    left: 18%;
}

.choosebox_bg .class-item:nth-child(2):hover~.indicator,
.choosebox_bg .class-item:nth-child(2).-on~.indicator {
    display: block;
    left: 34%;
}

.choosebox_bg .class-item:nth-child(3):hover~.indicator,
.choosebox_bg .class-item:nth-child(3).-on~.indicator {
    display: block;
    left: 50%;
}

.choosebox_bg .class-item:nth-child(4):hover~.indicator,
.choosebox_bg .class-item:nth-child(4).-on~.indicator {
    display: block;
    left: 66%;
} */

.choosebox_bg .class-item:nth-child(1).-on~.indicator {
    display: block;
    left: 18%;
}

.choosebox_bg .class-item:nth-child(2).-on~.indicator {
    display: block;
    left: 34%;
}

.choosebox_bg .class-item:nth-child(3).-on~.indicator {
    display: block;
    left: 50%;
}

.choosebox_bg .class-item:nth-child(4).-on~.indicator {
    display: block;
    left: 66%;
}

/* .choosebox_bg .class-item:nth-child(5):hover~.indicator,
.choosebox_bg .class-item:nth-child(5).-on~.indicator {
    display: block;
    left: 82%;
} */
.choosebox_bg .class-item:nth-child(5).-on~.indicator {
    display: block;
    left: 82%;
}

.choosebox_bg .class-item a .text {
    position: absolute;
    color: white;
    /* font-size: 0.75rem; */
    transform: translateY(20px);
    transition: .7s;
    top: 34.5px;
    opacity: 0;
    font-weight: normal;
}

.choosebox_bg .class-item:hover a .text,
.choosebox_bg .class-item.-on a .text {
    transform: translateY(10px);
    opacity: 1;
}

.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #E27D60;
    border-radius: 50%;

    border: 6px solid #FBF7EC;
    /* border: 6px solid gray; */
    top: -50%;
    display: none;
    left: 0;
    transform: translateX(-50%);
    transition: .5s;
}

.indicator::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* background: red; */
    background: transparent;
    top: 50%;
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 #FBF7EC
}

.indicator::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 #FBF7EC;
}

.chooseinput {
    margin: 0 auto;
    width: 80%;
    height: 100px;
    background: var(--secodary-color);
    border-radius: 0 0 47px 47px;
}

/* ==========搜尋文字列========= */
.choose_select {
    padding: 0 5%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: var(--secodary-color);
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.choose_select .select3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;

}

.choose_select .go {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 10px;
    flex-basis: 200px;
    margin: 10px 0;
}
.choose_select .go a {
    text-decoration: none;
    color: var(--title-color);
    transition: 0.2s ease;
}

.choose_select .go a .select-box__icon {
    display: inline-block;
    width: 10px;
    transition: 0.2s ease;
}

.choose_select .go a.-on .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}
.choose_select .go button {
    padding: 8px 15px;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.choose_select .go button:active {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}



.choose_select .select3 .select_item {
    box-sizing: border-box;
    /* background-color: #E27D60; */
    display: flex;
    flex: 1;
    margin-right: 20px;
    padding: 10px 0;
    width: 30%;
    /* flex-basis: 30%; */
}


.choose_select .select3 .go p {
    color: var(--title-color);
}

.choose_select .select3 .custom_select {

    /* 清除 select 預設外觀 */
    appearance: none;
    outline: none;

    border: 1px solid gray;
    border-radius: 5px;
    width: 110px;
    padding: 5px 10px;
    font-size: 1rem;

    /* 箭頭 */
    background-image: url("../imges/petlist/down.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 8px center;
}


.choose_select .select3 label {
    display: inline-block;
    text-align: end;
    width: 88px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 32px;
    white-space: nowrap;
}

.choose_select button {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

.choose_select button:active {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);

}


#Special{
    display: none;
}


/* ==========動物列表========= */
.pet_content {
    /* background-color: aqua; */
    margin-top: 20px;
    min-width: var(--mini-width);
    display: flex;
    /* justify-content: space-around; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.pet_card {
    position: relative;
    width: 30%;
    min-width: 200px;
    background-color: #fff;
    padding: 3% 3%;
    margin: 1% 1.66%;
    border-radius: 10px;
    z-index: 0;
}

.pet_block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pet_block .pic {
    /* width: 100%; */
    /* height: 60%; */
    overflow: hidden;
}

.pet_block .pic img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.pet_block .pet_text {
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-top: 10px;

}

.pet_text .theup {
    display: flex;
    justify-content: space-between;

}

.theup h3 {
    font-weight: bold;
    color: var(--secodary-color);
}

.theup i {
    font-size: 24px;
    color: var(--black-color);
}

.pet_text .thedown {
    display: flex;
    /* margin: 2% 0; */
    justify-content: space-between;

}

.pet_text .thedown p {
    /* margin-right: 28px; */
    color: #999;
    white-space: nowrap;
}

.pet_card .date {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

.pet_card .date p {
    text-align: start;
    color: #ccc;
    white-space: nowrap;
}

/* ============愛心============= */
.pet_card button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
    /* background-color: #59524f; */
    background-color: var(--title-color);
    width: 3em;
    height: 3em;
    border: none;
    border-radius: calc(3em / 2);
    padding: 0.3em 0 0 0;
    margin: 1em 1em 0;
    cursor: pointer;
}

.pet_card button svg {
    width: 1.3em;
    height: 1.3em;
    fill: #d9ccc1;
    stroke: #d9ccc1;
}

.pet_card button.-on svg {
    fill: rgb(243, 98, 98);
}

/* ===========介紹=============== */
.card__info {
    width: 100%;
    /* height: 100%; */
    /* background: black; */
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,50%);
    transition: all 0.3s;

}
.card__paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transtion: all 0.5s;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 30px 0 20px;
    /* transform: translateY(-20px); */
    line-height: 1.5;
}
.show {
    /* width: calc(100% + 24px); */
    width: 100%;
    /* height: calc(100% + 24px); */
    height: 100%;
    border-radius: 16px;
}


.show .card__paragraph {
    opacity: 1;
}




/* 頁碼 */
.page_box {
    /* background-color: #E27D60; */
    position: relative;
    /* height: 20vh; */
    padding: 10px 0 140px;
}

.cute_pet {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transform: translateY(15px);
}

.cute_pet .leftdog,
.cute_pet .rightcat {
    display: block;
    width: 12vw;
    min-width: 130px;
}

/* =================RWD================================ */
@media screen and (max-width: 1200px) {
    .petbox {
        margin-top: 35px;
    }

    .pet_card {
        /* min-width: 276px; */
        margin: 1% 1.6%;
    }
}

@media all and (max-width: 767px) {

    /* 選項 */


    .choose_select .select3 {
        flex-basis: auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .choose_select .select3 .select_item {
        width: 50%;
    }

    .choose_select .go {
        width: 50%;
    }

    /* 動物列表 */
    .pet_card {
        width: 40%;
        margin: 1% 5%;

    }


}

@media all and (max-width: 428px) {
    .pet_content {
        justify-content: center;
    }

    /* 動物列表 */
    .pet_card {
        width: 85%;
        margin-bottom: 10px;
        padding: 20px;
    }

}