@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}
/* ==========小標題========= */
#post_topkey .main_top >ul li:nth-child(1)>a{
    background-color: var(--primary-color);
    font-weight: bold;
}



/* ==========頁尾========= */
footer{
    position: static;
}


/* 浮動兔子 */
.newsrabbit {
    /* background-color: darkblue; */
    width: 12vw;
    position: absolute;
    right: 10%;
    bottom: -60vh;
}

/* ==========內容========= */
.main_top .news_list {
    /* background-color: #fff; */
    box-sizing: border-box;
    width: 93%;
    display: flex;
    flex-direction: column;
}

.main_top .news_list .news {
    /* background-color: #fff; */
    padding: 5% 0;
    border-bottom: 1px solid #ccc;
}

.main_top .news_list .news>a {
    /* background-color: coral; */
    display: block;
    /* padding: 40px 0; */
    /* height: 100%; */
}

.news_list .news a img {
    display: block;
    float: left;
    width: 30%;
    height: 206px;
    object-fit: cover;
    object-position: center center;

}

.news_list .news a:hover>img {
    box-sizing: border-box;
    transform: scale(.9, .9);
    /* border: 8px dotted var(--secodary-color) */
}

.news_list .news .text_block {
    float: right;
    width: 70%;
    /* background-color: aquamarine; */
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 35px;
}

.news_list .news .text_block h3 {
    text-align: left;
    line-height: 36px;
    color: #27887C;
    letter-spacing: .1em;
    /* padding-bottom: 50px; */
}

.news_list .news .text_block p {
    /* display: block; */
    color: var(--black-color);
    width: 80%;
    margin-top: 28px;
    font-size: 1rem;
    text-align: left;
    letter-spacing: .1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* ===============RWD======================= */
@media screen and (max-width: 1200px) {
    .newsrabbit {
        right: 5%;
    }

}

@media screen and (max-width: 900px) {
    .news_list .news .text_block h3{
        line-height: 18px;
    }
    .news_list .news .text_block{
        padding-left: 25px;
    }
    .news_list .news a img{
        width: 45%;
    }
    .news_list .news .text_block{
        width: 55%;
    }

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 750px) {
    .newsrabbit {
        right: 3%;
        width: 90px;
    }
}


@media screen and (max-width: 600px) {

}