@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}

/* ==========小標題========= */
.main_top>ul li:nth-child(1)>a {
    background-color: var(--primary-color);
    font-weight: bold;
}



/* ==========頁尾========= */
footer {
    position: static;
}


/* 浮動兔子 */
.newsrabbit {
    /* background-color: darkblue; */
    width: 7vw;
    max-width: 150px;
    min-width: 90px;
    position: absolute;
    top: 150px;
    right: -10px;
}

/* ==========內容========= */
.main_top .news_list {
    /* background-color: #fff; */
    width: 93%;
    display: flex;
    flex-direction: column;
}

.main_top .news_list .news {
    /* background-color: #fff; */
    padding: 5% 0;
    border-bottom: 1px solid #ccc;
}

.news_list .news a img {
    display: block;
    float: left;
    width: 30%;
    height: 206px;
    object-fit: cover;
    object-position: center center;

}

.news_list .news a:hover>img {
    transform: scale(.9, .9);
}

.news_list .news .text_block {
    /* background-color: aquamarine; */
    float: right;
    width: 70%;
    padding-top: 15px;
    padding-left: 35px;
}

.news_list .news .text_block h3 {
    text-align: left;
    color: var(--title-color);
    font-weight: bold;
}

.news_list .news .text_block p {
    /* display: block; */
    color: var(--black-color);
    width: 80%;
    margin-top: 28px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* ===============RWD======================= */
@media screen and (max-width: 1200px) {
    .newsrabbit {
        right: 5%;
    }

    .news_list .news a img {
        width: 40%;
    }

    .news_list .news .text_block {
        width: 60%;
    }

}

@media screen and (max-width: 768px) {
    .newsrabbit {
        right: -5px;
        top: 250px;
    }

    .main_top .news_list {
        width: 100%;
    }

    .main_top .news_list .news {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .main_top .news_list .news>a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news_list .news a img {
        float: none;
        width: 90%;
    }

    .news_list .news .text_block {
        margin: 0 auto;
        float: none;
        width: 80%;
        padding-left: 0;
    }

    .news_list .news .text_block p {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 428px) {
    .newsrabbit {
        display: none;
    }
}