@import url("reset.css");
@import url("all.css");

/* ==========右邊頁面========== */
main {}


/* ==========右邊頁首========= */
.navtop ul li:nth-child(1)>a {
    border-bottom: 3px dotted #E0DA70;
    background-color: #E0DA70;
    font-weight: 700;
}


/* ==========右邊內容========= */
.newsrabbit {
    /* background-color: darkblue; */
    position: absolute;
    left: 75%;
    top: 400px;
}

.news_list {
    /* background-color: #fff; */
    box-sizing: border-box;
    width: 70%;
    margin-top: 248px;
    min-width: 600px;
    /* overflow: hidden; */
    margin-left: 100px;
}

.news_list .news {
    /* background-color: #fff; */
    height: 286px;
    border-bottom: 1px solid #ccc;
}
.news>a {
    /* background-color: coral; */
    display: block;
    padding: 40px 0;
    height: 100%;
}

.news a img {
    display: block;
    float: left;
    width: 25%;
    height: 206px;
    object-fit: cover;
    object-position: center center;

}
.news a:hover >img{
    box-sizing: border-box;
    /* transform: scale(.9, .9); */
    border: 8px dotted var(--secodary-color)
}

.text_block {
    float: right;
    width: 75%;
    /* background-color: aquamarine; */
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 35px;
}

.text_block h3 {
    text-align: left;
    line-height: 36px;
    color: #27887C;
    letter-spacing: .1em;
    /* padding-bottom: 50px; */
}

.text_block p {
    /* display: block; */
    width: 80%;
    margin-top: 28px;
    font-size: 1rem;
    text-align: left;
    letter-spacing: .1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

