@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}

/* ==========小標題========= */
#sponsor_topkey .main_top>ul li:nth-child(1)>a {
    /* background-color: var(--primary-color); */
    /* font-weight: bold; */
}

main .main_top {
    position: relative;
    /* background-color: #E27D60; */
}

/* 頁碼 */
.sponsor_box .page_box {
    padding-bottom: 50px;
    height: 3vh;
}



/* ==========頁尾========= */
footer {
    position: static;
}





/* ==========內容========= */
.sponsor_box {
    box-sizing: border-box;
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
}

.sponsor_box .slogan {
    /* background-color: crimson; */
    width: 100%;
    margin: 40px 0 50px;
}

.sponsor_box .slogan p {
    font-size: 24px;
    color: var(--black-color);
    line-height: 1.5;
}

.sponsor_box .slogan span {
    font-weight: 700;
    margin: 0 10px;
}


/* ==========大明星介紹========= */
.star_list {
    width: 100%;
    min-width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.star_list .star_item {
    /* background-color: white; */
    box-sizing: border-box;
    /* width: 376px; */
    width: 30%;
    height: 60vh;
    margin-bottom: 20px;
    /* height: 500px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.star_item .the_star {
    /* box-sizing: border-box; */
    /* background-color: blue; */
    display: block;
    width: 100%;
    /* height: 100%; */
    /* position: absolute; */
    /* top: 0px; */
    -webkit-filter: drop-shadow(8px 5px 0px #999);
    /* object-fit: scale-down; */
    object-position: 50% 50%;
}

.star_item .bg {
    /* background-color: aqua; */
    display: block;
    position: absolute;
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    /* margin-top: 50%; */
    /* transform: translateY(20%); */
    /* margin: auto 0; */

}

.star_item .pet_namebox {
    /* background-color: blueviolet; */
    position: absolute;
    /* top: 360px; */
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 65px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.pet_namebox .name {
    background-color: #484565;
    width: 65%;
    font-size: 28px;
    line-height: 65px;
    color: #fff;
    letter-spacing: .1em;
    font-weight: 500;
}

.pet_namebox .age {
    background-color: #fff;
    width: 35%;
    line-height: 65px;
    letter-spacing: .1em;
}

.star_item .donate {
    /* background-color: aquamarine; */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_item .donate p {
    font-size: 16px;
    flex-basis: 100px;
}

.star_item .donate a {
    display: block;
    width: 90px;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--black-color);
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    border-radius: 8px;
}


/* ==========捐款給毛遇=========  */
.donateus {
    /* background-color: #fff; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    /* padding-bottom: 150px; */
    padding: 3%;
}

.donateus .mousepic {
    /* background-color: aqua; */
    width: 50%;
    padding: 5%;
}

.donateus .mousepic>img {
    display: block;
    width: 100%;
}

.donateus .textbox {
    width: 50%;
    /* background-color: burlywood; */
    box-sizing: border-box;
    padding-left: 5%;
}

.donateus .textbox h1 {
    color: var(--title-color);
    /* padding: 30px; */
}

.donateus .textbox p {
    /* color: var(--title-color); */
    padding-top: 20px;
    text-align: left;
    line-height: 1.5;

}

.donateus .textbox a {
    background-color: var(--primary-color);
    display: inline-block;
    padding: 10px 10px;
    margin: 20px 10px 0 0;
    border-radius: 10px;
    color: var(--black-color);
    font-weight: 500;
}

/* ==========異業合作========= */
.nobody{
    height: 150px;
}
.alliance{
    box-sizing: border-box;
    /* background-color: #fff; */
    margin: 0 auto 50px;
}
.alliance p{
    /* background-color:aqua; */
    font-weight: 400;
    line-height: 48px;
    letter-spacing: .2em;
    color: var(--title-color);
margin-bottom: 30px;
}
.alliance span{
    font-weight: 700;

}
.alliance img{
    /* background-color: burlywood; */
    display: block;
    margin: 0 auto;

}
