@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}

/* ==========小標題========= */
#sponsor_topkey .main_top>ul li .-on {
    background-color: var(--primary-color);
    font-weight: bold;
}


/* 頁碼 */
.sponsor_box .page_box {
    /* padding-bottom: 50px; */
    /* height: 3vh; */
}



/* ==========頁尾========= */
footer {
    /* position: static; */
}





/* ==========內容========= */
#anchor1 {
    width: 100%;
    height: 80px;
}

.sponsor_box {
    width: 100%;
    min-width: var(--mini-width);
    margin: 0 auto;
}

.sponsor_box .slogan {
    /* background-color: crimson; */
    text-align: center;
    margin-bottom: 20px;
}

.sponsor_box .slogan p {
    color: var(--black-color);
    margin-bottom: 5px;
}

.sponsor_box .slogan span {
    font-weight: 700;
    margin: 0 5px;
}
.sponsor_box .slogan p:nth-last-child(2){
    margin-bottom: 20px;
}


/* ==========大明星介紹========= */
.star_list {
    width: 100%;
    min-width: var(--mini-width);
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.star_list .star_item {
    /* background-color: white; */
    width: 32%;
    min-width: 250px;
    /* height: 60vh; */
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.star_item .the_star {
    /* background-color: blue; */
    display: block;
    width: 100%;
    -webkit-filter: drop-shadow(8px 5px 0px #999);
    object-position: 50% 50%;
}

.star_item .bg {
    /* background-color: aqua; */
    display: block;
    position: absolute;
    width: 100%;
}

.star_item .pet_namebox {
    /* background-color: blueviolet; */
    position: absolute;
    /* top: 75%; */
    width: 45%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.pet_namebox .name {
    background-color: #484565;
    width: 65%;
    height: 100%;
    line-height: 50px;
    color: #fff;
    text-align: center;
}

.pet_namebox .age {
    background-color: #fff;
    color: var(--title-color);
    width: 35%;
    line-height: 50px;
    text-align: center;
    letter-spacing: .1em;
}

.star_item .donate {
    /* background-color: aquamarine; */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.star_item .donate p {
    white-space: nowrap;
    width: 22%;
    color: var(--black-color);
    text-align: end;
    /* font-size: 16px; */
    /* flex-basis: 100px; */
}

.star_item .donate a {
    width: 25%;
    display: block;
    white-space: nowrap;
    background-color: var(--black-color);
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    border-radius: 8px;
}


/* ==========捐款給毛遇=========  */
#anchor2 {
    /* background-color: aqua; */
    height: 80px;
}

.donateus {
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    /* padding-bottom: 150px; */
    padding: 3%;
}

.donateus .mousepic {
    /* background-color: aqua; */
    width: 50%;
    padding: 5%;
}

.donateus .mousepic>img {
    display: block;
    width: 100%;
}

.donateus .textbox {
    width: 50%;
    /* background-color: burlywood; */
    padding-left: 5%;
}

.donateus .textbox h1 {
    color: var(--title-color);
}

.donateus .textbox p {
    color: var(--black-color);
    padding-top: 20px;
    text-align: left;
    line-height: 1.5;
    white-space: nowrap;
}
.donateus .textbox .paystyle{
    display: flex;
    flex-wrap: nowrap;
}

.donateus .textbox a {
    background-color: var(--primary-color);
    display: inline-block;
    padding: 10px 10px;
    margin: 20px 10px 0 0;
    border-radius: 10px;
    color: var(--black-color);
    font-weight: 500;
    white-space: nowrap;
}

/* ==========異業合作========= */
.nobody {
    height: 150px;
}

.alliance {
    /* background-color: #fff; */
    margin: 0 auto 50px;
}

.alliance p {
    color: var(--title-color);
    font-weight: normal;
    text-align: center;
}

.alliance span {
    font-weight: bold;
}

.alliance img {
    /* background-color: burlywood; */
    display: block;
    width: 80%;
    margin: 30px auto;

}

/* ===============RWD======================= */
@media screen and (max-width: 1200px) {
    .sponsor_box .slogan p {
        letter-spacing: .1em;
    }

}

@media screen and (max-width: 768px) {
    .donateus{
        flex-direction: column;
    }
    .donateus .mousepic{
        width: 80%;
    }
    .donateus .textbox{
        width: 310px;
        padding: 0;
    }

    .alliance{
        padding: 0 2%;
    }

}


@media screen and (max-width: 428px) {
    .sponsor_box .slogan p:last-child{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .donateus .textbox{
        width: 80%;
        padding: 0;
    }
    .alliance{
        padding: 0 2%;
    }
    .alliance p{
        font-size: 18px;
    }


}