@import url("reset.css");
@import url("all.css");

/* ==========右邊頁面========== */
main {}

/* ==========右邊頁首========= */
.navtop ul li:nth-child(3)>a {
    border-bottom: 3px dotted #E0DA70;
    background-color: #E0DA70;
    font-weight: 700;
}

/* ==========右邊內容========= */
.story_box {
    /* background-color: aqua; */
    width: calc(var(--right-width) * .75);
    min-width: 600px;
    box-sizing: border-box;
    margin: 248px auto 0;
    padding: 0 100px;
    overflow: hidden;
}


.story_item {
    /* background-color: #fff; */
    margin-bottom: 110px;
    display: flex;
    align-items: center;
    justify-items: center;
    /* justify-content: space-between; */
}
.story_item:last-child{
    margin-bottom: 50px;
}


.story_item:nth-child(2n) img {
    order: 2
}

.story_item img {
    display: block;
    border-radius: 20px;
    width: 50%;

}

.story_item .story_text {
    /* width: 450px; */
    width: 50%;
    margin: 0 22px;

}

.story_text h3 {
    text-align: left;
    margin-bottom: 20px;
    color: var(--black_color);
}

.story_text p {
    display: block;
    width: 80%;
    text-align: left;
    margin-bottom: 50px;
}

.story_text>a {
    background-color: var(--secodary-color);
    display: block;
    width: 100px;
    margin-left: auto;
    border-radius: 10px;
    line-height: 34px;
    color: #fff;
    font-size: 16px;

}