@import url("reset.css");
@import url("all.css");

/* ==========總表頭========== */
nav {
    background-color: #FCF8EC;
}

/* ==========小標題========= */
.main_top ul li:nth-child(3)>a {
    background-color: var(--primary-color);
    font-weight: bold;
}



/* ==========右邊頁首========= */

.main_top .floatbird {
    /* background-color: #FCF8EC; */
    border-radius: 0 0 0 50px;
    position: absolute;
    left: 89%;
    top: 0;
    max-width: 230px;
    width: 12vw;
    min-width: 140px;
    z-index: 50;
}



/* ==========右邊內容========= */
.story_box {
    /* background-color: aqua; */
    width: 100%;
    /* min-width: var(--mini-width); */
    /* overflow: hidden; */
    margin-top: 40px;
}


.story_item {
    /* background-color: #fff; */
    margin-bottom: 110px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.story_item:last-child {
    margin-bottom: 50px;
}


.story_item:nth-child(2n) img {
    order: 2
}

.story_item img {
    display: block;
    border-radius: 20px;
    width: 50%;

}

.story_item .story_text {
    /* width: 450px; */
    width: 50%;
    margin: 0 22px;

}

.story_text h3 {
    text-align: left;
    margin-bottom: 20px;
    color: var(--black_color);
}

.story_text p {
    display: block;
    width: 80%;
    text-align: left;
    margin-bottom: 50px;
}

.story_text>a {
    background-color: var(--secodary-color);
    display: block;
    width: 100px;
    margin-left: auto;
    border-radius: 10px;
    line-height: 34px;
    color: #fff;
    font-size: 16px;

}

/* ===============RWD======================= */
@media screen and (max-width: 1200px) {
    .main_top .floatbird {
        /* background-color: red; */
        border-radius: 0 0 0 30px;
        left: 89%;
        top: 20px;
        width: 14vw;

    }

    .story_box {
        width: 100%;
    }
}
@media all and (max-width: 768px){
    .main_top .floatbird {
        /* background: linear-gradient(180deg, transparent 0%, transparent 40%, #FCF8EC 40%, #FCF8EC 100%); */
        border-radius: 0 0 0 30px;
        left: auto;
        right: 0;
        top: 20px;
        width: 110px;
    }

}
@media screen and (max-width: 428px){}

@media screen and (max-width: 750px) {

    .story_item img {
        width: 55%;
    }

    .story_text p {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 600px) {
    .main_top .floatbird {
        /* background: linear-gradient(180deg, transparent 0%, transparent 15%, #FCF8EC 15%, #FCF8EC 100%); */
        top: 40px;
    }
    .story_item {
        flex-direction: column;
        border: 1px dotted #ccc;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .story_item img {
        width: 90%;
        margin-bottom: 10px;
    }

    .story_item:nth-child(2n) img {
        order: 0
    }

    .story_item .story_text {
        width: 70%;
    }

    .story_text p {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .story_text>a {
        font-size: 14px;
        width: 85px;
        margin: 0 auto;
    }


}