@import url("reset.css");

html {
    --page-width: 1275px;
    --primary-color: #E0DA70;
    --secodary-color: #65BBB1;
    --black-color: #2B1A1A;
}

body {
    background-image: url('../imges/bg_all.png');
    font-family: Arial, 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #2B1A1A;
    line-height: 1.6;

}

a {
    color: #584040;
    text-decoration: none;
}

/* ----------模組---------- */
.sub-h3-b {
    font-size: 24px;
}

.mean-block {
    width: 1275px;
    margin: 0 auto;
}

/* =====側邊欄選單===== */
aside {
    /* background-color: #fff; */
    width: 17vw;
    min-width: 205px;
    height: 967px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}

aside div {
    flex-grow: 1;
}

.logo img {
    display: block;
    width: 205px;
    margin: 0 auto;
    margin-top: 43px;
}

/* ---選單文字部分--- */
.nav {
    /* outline: 1px solid; */
    flex-grow: 7;
    position: relative;
}

.nav li {
    height: 41px;
}

.nav a {
    display: block;
    font-size: 24px;
    font-weight: 900;
    line-height: 35px;
}

.box {
    width: 100%;
    /* outline: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.box .box-item {
    display: block;
    color: brown;
}

.box-item {
    letter-spacing: 0.2em;
}

.box-item>a {
    display: block;
    margin: 0;
    padding: 10px 10px;
    color: var(--black-color);
}

.box-item-content {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 20px;
    transition: 0.5s;
}

.box-item-content li {
    height: 35px;
}

.box-item-content a {
    font-size: 20px;
    line-height: 35px;
    color: #123C69;
}

.box:hover .box-item:hover .box-item-content {
    height: 100px;
}

.box-item a:hover,
.box-item-content a:hover {
    color: var(--secodary-color);
}

/* ---文字結束--- */
.icon {
    flex-grow: 0;
    flex-basis: 80px;
}

.icon ul {
    display: flex;
    justify-content: center;
}

.icon li {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.icon a {
    /* outline: 1px solid red; */
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.icon img {
    position: absolute;
    top: -7px;
}

.icon .map {
    right: -69px;
}

.icon .phone {
    right: -123px;
}

.icon .heart {
    right: -11px;
}

.push_top {
    /* outline: 1px solid; */
    margin-bottom: 80px;
}

/* =====主頁面===== */
main {
    /* background-color: red; */
    display: flex;
    /* flex-direction: column; */
    min-width: 933px;
    height: 4220px;
}

/* 第一段大圖 */
.none {
    background-color: yellow;
    width: 17vw;
    min-width: 205px;
    height: 0px;
}

.wrapper {
    /* background-color: white; */
    height: 4220px;
    justify-content: center;
    align-items: flex-start;
}

.swipe {
    background-color: green;
    position: relative;
    width: 82vw;
    height: 909px;
    min-width: 1244px;
    text-align: center;
    color: white;
    overflow: hidden;
    top: 0;
}

.swipe input {
    display: none;
}

.swipe ul {
    /* outline: 1px solid green; */
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: calc(82vw * 4);
    transition: .5s;
    height: 100%;
}

.swipe li {
    float: left;
    width: 82vw;
    min-width: 1242px;
    height: 100%;
    min-height: 690px;
    line-height: 909px;
    font-size: 50px;
}

.swipe li:nth-child(1) {
    background-image: url('../imges/index/swipe01.jpg');
    background-size: auto auto;
}

.swipe li:nth-child(2) {
    background-image: url('../imges/index/swipe02.jpg');
    background-size: auto auto;
}

.swipe li:nth-child(3) {
    background-image: url('../imges/index/swipe03.jpg');
    background-size: auto auto;
}

.swipe li:nth-child(4) {
    background-image: url('../imges/index/swipe04.jpg');
    background-size: auto auto;
}

/* for屬性以coose開頭的label*/
.swipe label[for^="choose"] {
    z-index: 2;
    position: absolute;
    top: 750px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

/* for屬性是choose1~4的label*/
.swipe label[for="choose1"] {
    left: 45%;
}

.swipe label[for="choose2"] {
    left: 47.3%;
}

.swipe label[for="choose3"] {
    left: 49.6%;
}

.swipe label[for="choose4"] {
    left: 51.9%;
}

/* 點到綁定的label位移圖片 */
#choose1:checked~ul {
    margin-left: 0;
}

#choose2:checked~ul {
    margin-left: -100%;
}

#choose3:checked~ul {
    margin-left: -200%;
}

#choose4:checked~ul {
    margin-left: -300%;
}

/* 點到id是choose1~4且for屬性是coose1~4的label 改色*/
#choose1:checked~label[for="choose1"] {
    background-color: #fff;
}

#choose2:checked~label[for="choose2"] {
    background-color: #fff;
}

#choose3:checked~label[for="choose3"] {
    background-color: #fff;
}

#choose4:checked~label[for="choose4"] {
    background-color: #fff;
}

/* 第二段News */
.news {
    /* background-color: lightblue; */
    height: 750px;
}
.news>img {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 10px;
}
.news_box {
    margin: 0 auto;
    width: 1275px;
    height: 505px;
    /* background-color: darkorange; */
    display: grid;
    grid-template-rows: repeat(4, 118px);
    grid-template-columns: 410px 855px;
    gap: 10px;
    overflow: hidden;
}
.news_box>input {
    display: none;
}
.news_box .tab {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    /* background-color: #fff; */
}
.tab_s {
    width: 855px;
    height: 505px;
}
/* 留著如果以後要改bgi可用 */
/* .tab_s:nth-child(1){
    background-color: red;
}
.tab_s:nth-child(2){
    background-color: blue;
}
.tab_s:nth-child(3){
    background-color: yellow;
}
.tab_s:nth-child(4){
    background-color: black;
} */
#news1 {
    /* background-color: red; */
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p1.jpg");
    background-position: center center;
    background-size: cover;
}
.sp{
    opacity: .6;
}
.sp:hover, .news_box > input:checked +.sp{
    opacity: 1;
}
#news2 {
    /* background-color: blue; */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p2.jpg");
    background-position: center center;
    background-size: cover;
}
#news3 {
    /* background-color: yellow; */
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p3.jpg");
    background-position: center center;
    background-size: cover;
}
#news4 {
    /* background-color: black; */
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-image: url("../imges/index/news_p4.jpg");
    background-position: center center;
    background-size: cover;
}
/* 選中指定位移大圖 */
#p1:checked ~ .tab{
    transform: translateY(0px);
}
#p2:checked ~ .tab{
    transform: translateY(-505px);
}
#p3:checked ~ .tab{
    transform: translateY(-1010px);
}
#p4:checked ~ .tab{
    transform: translateY(-1515px);
}

/* 第三段SOP */
.sop {
    /* background-color: lightgreen; */
    height: 750px;
}
.sop_color{
    background-color: var(--primary-color);
    width: 1591px;
    height: 750px;
    border-radius: 20px 0 0 0;
}
.sop_color >img{
    display: block;
    margin: 0 auto;
    padding-top: 21px;
}
.sop_box{
    margin: 0 auto;
    width: 1053px;
    height: 610px;
    display: grid;
    grid-template-rows: repeat(2, 230px);
    grid-template-columns: repeat(3, 337px);
    gap: 75px 21px;
    /* overflow: hidden; */
}
.sop_box .sop1{
    width: 337px;
    height: 230px;
    /* background-color: #fff; */
    background-image: url("../imges/index/step.png");
    background-size: 337px 230px;
}
.sop_box .sop2{
    width: 337px;
    height: 230px;
    background-color: #fff;
}
.sop_box .sop3{
    width: 337px;
    height: 230px;
    background-color: #fff;
}
.sop_box .sop4{
    width: 337px;
    height: 230px;
    background-color: #fff;
}
.sop_box .sop5{
    width: 337px;
    height: 230px;
    background-color: #fff;
}
.sop_box .sop6{
    width: 337px;
    height: 230px;
    background-color: #fff;
}
